<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="search"
     >Search</a>
  <a mat-tab-link
     routerLink="queue"
     >Queue</a>
    <a mat-tab-link
     routerLink="history"
     >History</a>
</nav>
<router-outlet></router-outlet>
