/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body, .mat-cell{
  font-size: 1.1rem;
}

.spinner {
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #0B0E1E
}

/* Coralie - Custom CSS */

/* Custom CSS - first-run-dialog/namedialog.html */

.mat-dialog-container {
  display: flex;
}

app-first-run-dialog-content {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  max-width: 320px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 35px;
}

h1:before {
  background-color: #5082CD;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
  position: relative;
  left: 8px;
}

h1:after {
  background-color: #60B2E5;
  content: '';
  display: block;
  position: relative;
  right: -70%;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

.mat-dialog-content {
  font-size: 1.1rem;
}

mat-form-field {
  width: 100%;

}

.mat-form-field-infix {
  background-color: rgba(156, 114, 160, 0.06);
  padding-left: 15px !important;
}

.mat-dialog-actions {
  justify-content: center;
}

app-first-run-dialog-content .mat-button {
  background-color: #8D74D4;
  color: white;
  width: 70%;
}

.logo-karapulse {
  display: flex;
  justify-content: center;
}

/* media queries */

@media (min-width: 1250px) {

  app-searchbar mat-form-field {
    width: 50%;
  }
}


/* Design Search List */

app-searchbar {
  display: flex;
  width: 96%;
  margin: auto;
}

app-searchbar .mat-form-field {
  margin: auto;
}

.mat-row:nth-child(odd) {
  background-color: rgba(156, 114, 160, 0.05);
}

app-searchbar .mat-form-field-label-wrapper {
  left: 10px;
}
